body
    {
        background-color: chartreuse;
    }

    header{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 60px;
        background-color: coral;
        position:sticky;
        top: 0px;
    
     }

     ul{
        display: inline;
        list-style-type: none ;
       
    }
    
    .columna__vertical{
        display: flex;
    }
 li{
    display: inline;
 }

 .botines__botin
 {
     display: flex;
     width: 800px;
 }